<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
      <img class="d-block" src="assets/images/grimme_logo_red.svg"/>
      <li class="nav-item"><a class="nav-link active waves-light" href="#"> Dashboard </a></li>
      <li class="nav-item"><a class="nav-link waves-light" href="#"> Certificates </a></li>
      <li class="nav-item"><a class="nav-link waves-light" href="#"> Domains </a></li>
      <li class="nav-item"><a class="nav-link waves-light" href="#"> Targethosts </a></li>
      <li class="nav-item"><a class="nav-link waves-light" href="#"> Hoster </a></li>
      <li class="nav-item"><a class="nav-link waves-light" href="#"> Targets </a></li>
      <li class="nav-item"><a class="nav-link waves-light" href="#"> Jobs </a></li>
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="#">
          Test
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>

  </div>
</nav>
