<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Certificates</h1>
      <dl>Management</dl>
      <!-- <app-dashboard-item></app-dashboard-item> -->
      <div class="g-background"></div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary red">Create new Certificates</button>
        <button type="button" class="btn btn-primary default">Renew Certificate</button>
        <button type="button" class="btn btn-primary default">Deploy Certificate</button>
      </div>
    </div>
  </div>
</div>
